package components

templ Base() {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>employee</title>
        <style type="text/css">
            body {
                display : flex ;
                flex-direction: row ;
                padding : 0 ;
                margin : 0 ;
                font-family: "Roboto", Arial, sans-serif;
            }
        </style>
        </head>
        <body>
            { children... }
        </body>
    </html>
}