package components

templ Success(object string) {
    <style type="text/css">
    #success {
         width : 30vw ;
        height : 60px ;
        border : none ;
        border-radius : 5px ;
        color : black ;
    }
    </style>
    <div id="success">
        { object } entered successfully
    </div>
} 