package components

templ Ticket() {
    <div>
        <form>
            <div>
                <label>
                    title :
                </label>
                <input/>
            </div>
            <div>
                <label>
                    content :
                </label>
                <textarea></textarea>
            </div>
        </form>
    </div>
    <button>
        Submit
    </button>
}