package components

import "InternshipProject/backend/types"

templ UserPage(user types.User, tickets []types.Ticket) {
        @Base() {
            @Sidebar(user, tickets)
            @Feed(user, tickets)
        }
}
